---
import { cn } from '~/lib/utils'

interface Props {
  id?: string
  icon: string
  label: string
  class?: string
}

const { id, icon, label, class: className } = Astro.props
---

<button
  {id}
  class={cn(
    'group flex items-center justify-center size-9',
    ' bg-primary/4 hover:bg-primary/10',
    'text-primary/70 hover:text-primary',
    'transition-colors duration-200',
    'dark:bg-primary/10 dark:hover:bg-primary/15',
    'dark:text-primary/80 dark:hover:text-primary',
    'cursor-pointer',
    className
  )}
  aria-label={label}
>
  <span class={cn(icon, 'size-4')}></span>
  <slot />
</button>
