---
import { cn } from '~/lib/utils'

type Props = {
  href: string
  class?: string
  [key: string]: any
}

const { href, class: className, ...props }: Props = Astro.props
---

<a {href} class={cn('transition text-muted-foreground/80  hover:text-zinc-900 dark:hover:text-white', className)} {...props}>
  <slot />
</a>
