---
import { cn } from '~/lib/utils'
import Tooltip from './Tooltip.astro'

type Props = {
  weeks: Additional.Github.Week[]
}

const { weeks }: Props = Astro.props
---

<div class="grid grid-flow-col gap-1 overflow-x-auto py-2 px-2 max-md:px-0">
  {
    weeks.map((week) => (
      <div class="grid grid-rows-7 gap-1">
        {week.contributionDays.map((contribution) => {
          const { date, contributionCount } = contribution
          const formattedDate = new Date(date).toLocaleDateString('zh-CN', {
            weekday: 'long',
            year: 'numeric',
            month: 'long',
            day: 'numeric',
          })

          const tooltipContent = `${formattedDate} — ${
            contributionCount === 1 ? '1 次提交 💤' : contributionCount === 0 ? '休息日 🪴' : `${contributionCount} 次提交`
          }`

          return (
            <Tooltip content={tooltipContent}>
              <div
                class={cn(
                  'size-2 relative hover:scale-125 transition-transform duration-200',
                  contributionCount === 0
                    ? 'bg-zinc-200 dark:bg-zinc-900'
                    : contributionCount < 5
                      ? 'bg-zinc-300 dark:bg-zinc-700'
                      : contributionCount < 10
                        ? 'bg-zinc-500'
                        : 'bg-zinc-900 dark:bg-zinc-50'
                )}
              />
            </Tooltip>
          )
        })}
      </div>
    ))
  }
</div>

<script is:inline>
  // 确保在页面加载时滚动到最右侧
  document.addEventListener('astro:page-load', () => {
    const scrollContainer = document.querySelector('.overflow-x-auto')
    if (scrollContainer) {
      scrollContainer.scrollLeft = scrollContainer.scrollWidth
    }
  })
</script>
