---
interface Props {
  title: string
  introduce: string
}

const { title, introduce } = Astro.props
---

<h1 class="tracking-tight text-3xl sm:text-4xl bg-gradient-to-r from-primary to-primary/70 bg-clip-text text-transparent pb-1.5">
  {title}
</h1>
<div class="pro text-muted-foreground">
  <p class="mt-2">{introduce}</p>
</div>
