---
import { cn } from '~/lib/utils'

interface Props {
  className?: string
}

const { className } = Astro.props
---

<section class={cn('border-y border-border/50 z-[1] relative', className)}>
  <div
    class="h-1.5 w-full bg-[repeating-linear-gradient(-45deg,var(--color-border),var(--color-border)_1px,transparent_1px,transparent_6px)] opacity-50"
  >
  </div>
</section>
