---
import { formatDate } from '~/lib/utils'
import type { CardProps } from './List.astro'

interface Props extends CardProps {}

const { post, class: className, style }: Props = Astro.props
const displayDate = post.data.updatedDate || post.data.pubDate
---

<article class:list={['group flex flex-row items-baseline gap-2 sm:gap-4', className]} {style}>
  <time
    class="flex-shrink-0 text-sm sm:text-base text-muted-foreground/80 transition-colors group-hover:text-muted-foreground/80 w-20 sm:w-24"
  >
    {formatDate(displayDate, 'dot')}
  </time>

  <a href={`/posts/${post.id}`} class="flex-1 block">
    <div class="text-sm sm:text-base group-hover:text-primary">
      {post.data.title}
    </div>
  </a>
</article>
