@font-face {
  font-family: 'Numbers';
  src: url('/fonts/GeistVF.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'CJKEmDash';
  unicode-range: U+2014, U+2E3A-2E3B;
  src: url('/fonts/ZhudouSansVF-subset.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-VariableFont_wght.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMono[wght].woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: hsl(var(--scrollbar)) hsl(var(--scrollbar-bg));
  scrollbar-width: thin;
}

:root {
  --font-lexend: 'Lexend', 'CJKEmDash', 'Numbers', 'ShangguSansSC-VF', sans-serif;
  --font-sans: 'CJKEmDash', 'Numbers', 'ShangguSansSC-VF', sans-serif;
  --font-geist-mono: 'GeistMono', 'Input Mono', 'Fira Code', 'ShangguSansSC-VF', monospace;
  --background: 255 100% 100%;
  --foreground: 225 15% 12%;
  --scrollbar: 220 20% 80%;
  --scrollbar-bg: 220 25% 95%;
  --belonging-color: #9ea0a6;
  --muted-foreground: 225 10% 40%;
  --border: 220 20% 90%;
  --accent: 220 25% 94%;
}

.dark {
  --background: 240 10% 4%;
  --foreground: 0 0% 98%;
  --scrollbar: 240 10% 30%;
  --scrollbar-bg: 240 10% 15%;
  --belonging-color: #9ea0a6;
  --muted-foreground: 240 5% 64.9%;
  --border: 240 3.7% 15.9%;
  --accent: 240 3.7% 15.9%;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: light;
  background-color: hsl(var(--background));
  font-family: var(--font-sans);
  scroll-behavior: smooth;
  @variant dark {
    color-scheme: dark;
  }
}

/* 当根元素带有 .dark 类时，启用深色 UA 颜色方案 */
.dark html {
  color-scheme: dark;
}

body {
  margin: 0;
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
  max-width: 48rem;
  margin: 0 auto;
  padding: 0px 24px;
}

h1,
h2,
h3 {
  font-family: var(--font-lexend);
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

a {
  text-underline-offset: 2px;
  color: inherit;
}

.belonging {
  margin-top: 10px;
  color: var(--belonging-color);
  font-size: 12px;
}

header {
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid hsl(var(--border));
}

.subtitle {
  color: hsl(var(--muted-foreground));
  line-height: 1.75;
  margin-bottom: 10px;
}

.button {
  display: inline-flex;
  background-color: hsl(var(--accent));
  color: hsl(var(--foreground));
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  height: 32px;
  border-radius: 9999px;
  padding: 0 16px;
  gap: 8px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
  white-space: nowrap;
}

.button:hover {
  background-color: hsl(var(--border));
}

.button svg {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
